.aboutSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 3%;
}

.textBox {
  width: 40%;
  height: 70%;
}

.textBox p {
  text-align: justify;
}

.imageBox {
  position: relative;
  width: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
}

.imageBox img {
  width: 50%;
  height: 60%;
  border-radius: 1rem;
  object-fit: cover;
}

.image2 {
  position: absolute;
  left: 40%;
  bottom: 30%;
}

@media screen and (min-width: 1024px) {
  .aboutSection {
    padding: 4rem 15%;
  }
}