.footerSection {
  background-color: var(--primary-color1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 3%;
  border-top: 1px solid white;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
}

.footerSection div:not(:first-child) {
  width: 25%;
}

.footerSection h2 {
  color: var(--primary-color2);
  margin-bottom: 0.7rem;
}

.footerSection ul {
  list-style: none;
}

.footerSection a, .footerSection p{
  text-decoration: none;
  color: var(--secondary-color3);
}

.footerSection a:hover {
  text-decoration: underline;
}

.footerImage {
  width: 20%;
  aspect-ratio: 1 / 1.3;
}

.footerImage img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.copyrightText {
  flex-basis: 100%;
  text-align: center;
  margin-top: 2rem;
  color: var(--secondary-color3);
  }

  @media screen and (min-width: 1024px) {
    .footerSection {
      padding: 2rem 15%;
    }
  }