.heroSection {
  position: relative;
  margin-top: var(--header-height);
  background-color: var(--primary-color1);
  padding: 1rem 3%;
  display: flex;
  align-items: center;
}

.leadText {
  width: 50%;
  height: 100%;
}

.leadText h1 {
  color: var(--primary-color2);
}

.leadText h2 {
  color: var(--secondary-color3);
}

.leadText p {
  color: var(--secondary-color3);
  margin: 1rem 0;
}

.leadText button {
  color: var(--secondary-color4);
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color2);
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease;
  margin-top: 0.8rem;
}

.leadText button:hover {
  cursor: pointer;
  background-color: var(--secondary-color1);
  transform: scale(1.05);
}

.featuredImage {
  position: absolute;
  height: 110%;
  aspect-ratio: 0.9 / 1;
  border-radius: 1rem;
  top: 5%;
  right: 3%;
}

@media screen and (min-width: 1024px) {
  .heroSection {
    padding: 1rem 15%;
  }

  .featuredImage {
    right: 15%;
  }
}