.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 3%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.testimonials h2 {
  color: var(--secondary-color4);
}

.ratingContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: auto;
}

.feedbackBox {
  flex: 0 0 15rem;
  height: 17rem;
  background-color: var(--secondary-color3);
  border-radius: 1rem;
  padding: 0.7rem;
}

.starBox {
  display: flex;
  gap: 0.5rem;
  height: 2rem;
}

.profileBox {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin: 1rem 0;
}

.profileBox img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.feedbackBox p {
  text-align: justify;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .testimonials {
    padding: 4rem 15%;
  }
}