:root {
  /* The colors from the styleguide */
  --primary-color1: #495E57;
  --primary-color2: #F4CE14;
  --secondary-color1: #EE9972;
  --secondary-color2: #FBDABB;
  --secondary-color3: #EDEFEE;
  --secondary-color4: #333333;
  --header-height: 5rem;
}

  /* The typefaces from the styleguide */
.display-title {
  font-family: "Markazi Text", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.sub-title {
  font-family: "Markazi Text", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.lead-text {
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.section-title {
  font-family: "Karla", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}

.section-categories {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.card-title {
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.highlight-text {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.paragraph-text {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  font-size: 50%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}